body {
  background: #efefef;
}

span {
  font-weight: bold;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}

h4 {
  font-size: 1.2em;
  text-align: left;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

hr {
  width: 100px;
  height: 3px;
  background: grey;
  margin-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 3em;
}

p {
  color: black;
}

ul#ui-id-1 {
  background: #fff;
  border: 1px solid #c5c5c5;
  padding: 0;
}
ul#ui-id-1 li.ui-menu-item {
  list-style: none;
  padding: 5px 5px 5px 15px;
}
ul#ui-id-1 li.ui-menu-item:hover {
  background: blue;
  color: white;
}

.form-control {
  font-size: 1.1em;
  font-weight: normal;
}

.societes {
  background: white;
  padding: 2% 5%;
  margin: 5%;
  text-align: center;
}
.societes .dcol {
  margin-top: 4%;
  border: 1px solid #121212;
  border-radius: 5px;
}
.societes .dcol .liste {
  background: #ebebeb;
  border-radius: 5px;
}
.societes .dcol .liste .recherche {
  padding: 2%;
}
.societes .dcol .liste .recherche .col-md-6 {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
}
.societes .dcol .liste .recherche .col-md-6 p {
  margin: 0;
}
.societes .dcol .liste .recherche .champ {
  background: white;
  border-radius: 5px;
  border: 1px solid #121212;
  position: relative;
}
.societes .dcol .liste .recherche .champ input {
  border: none;
}
.societes .dcol .liste .recherche .champ input:focus {
  box-shadow: none;
}
.societes .dcol .liste .recherche .champ input::after {
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  width: 20px;
  content: "\f095";
  font-family: "Font Awesome 6 Free";
}
.societes .dcol .liste .column {
  height: 60vh;
  overflow-y: scroll;
}
.societes .dcol .liste .column .soccard {
  border-radius: 5px;
  border: 1px solid #121212;
  background: #fff;
  padding: 3%;
  margin: 2%;
  min-height: 20vh;
  transition: min-height 0.3s ease;
}
.societes .dcol .liste .column .soccard.active {
  min-height: 30vh;
}
.societes .dcol .liste .column .soccard:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.societes .dcol .liste .column .soccard .photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.societes .dcol .liste .column .soccard .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.societes .dcol .liste .column .soccard .infos .coord {
  text-align: left;
}
.societes .dcol .liste .column .soccard .infos .coord i {
  margin-right: 5px;
  color: #121212;
}
.societes .dcol .liste .column .soccard .infos .coord p {
  margin: 0;
  padding: 5px;
  font-size: 0.7em;
}
.societes .dcol .liste .column .soccard .mobile-map {
  display: none;
}
.societes .dcol .liste .column .soccard .mobile-map iframe {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  min-height: 35vh;
}
.societes .dcol .map {
  width: 100%;
  padding: 0;
}
.societes .dcol .map p {
  margin: 0;
  padding: 5px;
  font-size: 0.7em;
}
.societes .dcol .map i {
  margin-right: 5px;
}
.societes .dcol .map img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5%;
}
.societes .dcol .map iframe {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .societes .dcol {
    flex-direction: column;
  }
  .societes .dcol .liste {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .societes .dcol .liste .recherche .col-md-6 p {
    margin-top: 4%;
  }
  .societes .dcol .liste .column .soccard:active .mobile-map {
    display: block;
    padding: 3% 0% 0% 0%;
    height: 50vh;
  }
  .societes .dcol .liste .column .soccard .infos {
    padding: 3%;
  }
  .societes .dcol .liste .column .soccard .photo img {
    max-height: 30vh;
  }
  .societes .dcol .liste .column .soccard #map {
    display: block;
    height: 30vh;
    min-width: 100%;
    margin-top: 4%;
  }
  .societes .dcol .map {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */